@import 'variables';

// Back-end styling for Featured Property Types block
.itre-editor-featured-types {
    border: solid 1px var(--wp--preset--color--black);
    padding: 1rem;
    border-radius: 2px;
    
    &__sections {
        display: grid;
        flex-wrap: wrap;
        gap: 1.25rem;

        @media (min-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 60rem) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__section {
        border: solid 1px var(--wp--preset--color--black);
        padding: 1rem;

        .placeholder-text {
            font-size: 0.875rem;
            font-family: sans-serif;
        }

        span {
            margin-right: 0.25rem;
        }
    }
}