.itre-editor-featured-types {
  border: solid 1px var(--wp--preset--color--black);
  padding: 1rem;
  border-radius: 2px;
}
.itre-editor-featured-types__sections {
  display: grid;
  flex-wrap: wrap;
  gap: 1.25rem;
}
@media (min-width: 48rem) {
  .itre-editor-featured-types__sections {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60rem) {
  .itre-editor-featured-types__sections {
    grid-template-columns: repeat(4, 1fr);
  }
}
.itre-editor-featured-types__section {
  border: solid 1px var(--wp--preset--color--black);
  padding: 1rem;
}
.itre-editor-featured-types__section .placeholder-text {
  font-size: 0.875rem;
  font-family: sans-serif;
}
.itre-editor-featured-types__section span {
  margin-right: 0.25rem;
}
